.title-color {
  background: #f1f3f4;
}
.title-bp-color {
  border-bottom: solid 1px #dadce0;
}
.icon-ratio {
  height: 16px;
  width: 16px;
}
.icon-flag {
  height: 30px;
  width: 30px;
}
.bl-blue {
  border-left: solid 4px dodgerblue;
}
.bl-orange {
  border-left: solid 4px orange;
}
